
<mat-list>
    <div *ngIf="data?.count() === 0" class="empty-list-label">Empty list</div>
    <mat-list-item *ngFor="let item of data">
        <h3 matLine title="Name">
            {{ item.label }}
        </h3>
        <mat-chip-list>
            <mat-chip title="Score" class="mat-chip mat-primary mat-chip-selected" color="primary" selected="true">
                {{ calculate(item.num) }}
            </mat-chip>
        </mat-chip-list>
        <span title="Delete" aria-hidden="true" class="material-icons delete" (click)="remove.emit(item)">
            delete
        </span>
    </mat-list-item>
    <mat-divider *ngIf="data?.count() !== 0"></mat-divider>
</mat-list>