
<mat-list>
    <div *ngIf="data?.count() === 0" class="empty-list-label">Empty list</div>
    <cdk-virtual-scroll-viewport itemSize="50" class="viewport">
        <mat-list-item *cdkVirtualFor="let item of data">
            <h3 matLine title="Name">
                {{ item.label }}
            </h3>
            <mat-chip-list>
                <mat-chip title="Score" class="mat-chip mat-primary mat-chip-selected" color="primary" selected="true">
                    {{ item.num | calculate }}
                </mat-chip>
            </mat-chip-list>
            <span title="Delete" aria-hidden="true" class="material-icons delete" (click)="remove.emit(item)">
                delete
            </span>
        </mat-list-item>
    </cdk-virtual-scroll-viewport>
    <mat-divider *ngIf="data?.count() !== 0"></mat-divider>
</mat-list>