<section class="overview">
    <h1>Overview</h1>
    <div id="chart"></div>
</section>
<section class="details">
    <app-employee-list 
        [data]="salesList"
        department="Sales"
        (add)="salesList = add(salesList, $event)"
        (remove)="salesList = remove(salesList, $event)"> 
    </app-employee-list>
    <app-employee-list 
        department="R&D" 
        [data]="rndList"
        (add)="rndList = add(rndList, $event)"
        (remove)="rndList = remove(rndList, $event)">
    </app-employee-list>
</section>